<section class="benefits-section" id="benefits">
  <div class="benefits-content-wrap container">
    <img class="bf-bulet-1-1" src="./img/general/bullet-1.png" alt="" />
    <img class="bf-bulet-3" src="./img/general/bullet-3.png" alt="" />
    <img class="bf-bulet-2-1" src="./img/general/bullet-2.png" alt="" />
    <img class="bf-bulet-3-1" src="./img/general/bullet-3-1.png" alt="" />
    <img class="bf-bulet-4" src="./img/general/bullet-4.png" alt="" />
    <h2 class="benefits-title">Benefits</h2>
    <div class="benefits-swiper swiper">
      <ul class="benefits-swiper-wrapper swiper-wrapper">
        <li class="benefits-swiper-slide swiper-slide">
          <div class="benefits-card">
            <h3 class="benefits-subtitle">Master the Supply Chain</h3>
            <p class="benefits-text">
              Build, optimize, and expand your bullet manufacturing process to ensure a constant
              supply of ammunition for your hero
            </p>
          </div>
          <div class="benefits-card">
            <h3 class="benefits-subtitle">Strategic Resource Management</h3>
            <p class="benefits-text">
              Balance production speed, bullet delivery, and storage space to create an efficient
              and unstoppable supply line
            </p>
          </div>
        </li>
        <li class="benefits-swiper-slide swiper-slide">
          <div class="benefits-card">
            <h3 class="benefits-subtitle">Tailor Your Arsenal</h3>
            <p class="benefits-text">
              Customize your weapons for peak performance, balancing speed and power to outmatch
              escalating enemy threats
            </p>
          </div>
          <div class="benefits-card">
            <h3 class="benefits-subtitle">Dynamic Challenges</h3>
            <p class="benefits-text">
              Face increasingly difficult enemy waves and strategic puzzles that push your
              optimization skills to the limit
            </p>
          </div>
        </li>
        <li class="benefits-swiper-slide swiper-slide">
          <div class="benefits-card">
            <h3 class="benefits-subtitle">Idle Progression</h3>
            <p class="benefits-text">
              Your factory continues to produce even when you're away, allowing for continuous
              progress and resource accumulation
            </p>
          </div>
          <div class="benefits-card">
            <h3 class="benefits-subtitle">Stunning Visuals & Effects</h3>
            <p class="benefits-text">
              Immerse yourself in a visually engaging world with dynamic combat and intricate
              factory animations
            </p>
          </div>
        </li>
      </ul>
      <div class="benefits-pagination"></div>
    </div>
  </div>
</section>
