<section class="cookie-modal">
  <div class="cookies-wrap container">
      <p class="cookies-modal-text">
        We use cookies to improve your experience on our website. <br> By browsing this website, you
        agree to our use of cookies <br class="br-desktop"> <a class="cookie-link" href="#">Learn more</a>
      </p>
    <div class="cookies-btn-wrap">
      <button class="cookies-decline cookie-btn"><p class="cookie-text-btn">Decline cookies</p></button>
      <button class="cookies-accept cookie-btn">
        <p class="cookie-text-btn">Allow cookies</p>
      </button>
    </div>
  </div>
</section>
