<footer class="footer-section">
  <div class="footer-content-wrap container">
    <ul class="footer-list">
      <li class="footer-list-item"><a href="./privacy.html" class="footer-link">Privacy Policy</a></li>
      <li class="footer-list-item"><a href="./terms.html" class="footer-link">Terms of Service</a></li>
      <li class="footer-list-item"><a href="./cookies.html" class="footer-link">Cookies Policy</a></li>
    </ul>
    <p class="footer-rights">All rights reserved vibrantclickrush.com | 2025</p>
  </div>
</footer>
