<section class="gallery-section" id="gallery">
  <div class="gallery-content-wrap container">
    <h2 class="gallery-title">Gallery</h2>
    <div class="gallery-swiper swiper">
      <ul class="gallery-swiper-wrapper swiper-wrapper">
        <li class="gallery-swiper-slide swiper-slide">
          <img class="gallery-img" src="./img/general/gallery-slide-1.png" alt="" />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img class="gallery-img" src="./img/general/gallery-slide-2.png" alt="" />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img class="gallery-img" src="./img/general/gallery-slide-3.png" alt="" />
        </li>
        <li class="gallery-swiper-slide swiper-slide">
          <img class="gallery-img" src="./img/general/gallery-slide-4.png" alt="" />
        </li>
      </ul>
      <div class="gallery-scrollbar"></div>
      <div class="gallery-pagination"></div>
    </div>
  </div>
</section>
