<section class="game-description-section" id="game-description">
  <div class="game-description-content-wrap container">
    <h2 class="game-description-title">Game Description</h2>
    <div class="game-description-content">
      <img class="gd-img" src="./img/general/game-description.png" alt="" />
      <p class="gd-text">
        Welcome to Supply Rush, the ultimate idle strategy game where your logistical prowess is
        just as crucial as your hero's combat skills. Your mission is to establish and fine-tune an
        ammunition production powerhouse, ensuring a steady stream of bullets to your hero on the
        frontline. Begin with a basic setup and evolve into a complex, automated factory. You'll
        need to strategically manage resources, upgrade machinery, and research new technologies to
        keep pace with relentless enemy waves. Every decision impacts your efficiency – from the
        speed of your production lines to the capacity of your storage. With intuitive controls,
        strategic depth, and escalating challenges, Supply Rush offers an addictive blend of idle
        progression and strategic optimization
      </p>
    </div>
  </div>
</section>
