<header class="header-section">
  <div class="header-content-wrap container">
    <div class="header-wrap">
      <a href="/" class="logo-link"><img class="main-logo" src="./img/general/main-logo.png" alt=""></a>
      <button class="burger-btn">
        <img class="burger-img" src="./img/general/burger-menu.png" alt="" />
      </button>
      <button class="close-menu">
        <img class="close-burger-img" src="./img/general/close-menu.png" alt="" />
      </button>
    </div>
    <ul class="header-list">
      <li class="header-list-item">
        <a class="header-link" href="#benefits">Benefits</a>
      </li>
      <li class="header-list-item">
        <a class="header-link" href="#game-description">Game Description</a>
      </li>
      <li class="header-list-item">
        <a class="header-link" href="#gallery">Gallery</a>
      </li>
      <li class="header-list-item">
        <a class="header-link" href="#key-features">Key Features</a>
      </li>
      <li class="header-list-item">
        <a class="header-link" href="#main-characters"
          >Main Characters Description</a
        >
      </li>
      <li class="header-list-item">
        <a class="header-link" href="#reviews">Reviews</a>
      </li>
    </ul>
  </div>
</header>
<abbreviation></abbreviation>
<div class="backdrop container">
  <ul class="backdrop-list">
    <li class="backdrop-list-item">
      <a class="backdrop-link" href="#benefits">Benefits</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-link" href="#game-description">Game Description</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-link" href="#gallery">Gallery</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-link" href="#key-features">Key Features</a>
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-link" href="#main-characters"
        >Main Characters Description</a
      >
    </li>
    <li class="backdrop-list-item">
      <a class="backdrop-link" href="#reviews">Reviews</a>
    </li>
  </ul>
</div>
