<section class="hero-section">
  <div class="hero-content-wrap container">
    <img class="hero-desktop-img" src="./img/desktop/hero-desktop-img.png" alt="" />
    <div class="hero-main">
        <h1 class="hero-title">Supply Rush - Bullet Production Idle Strategy Game</h1>
        <img class="hero-img" src="./img/mobile/hero-img.png" alt="" />
        <p class="hero-text">
          Survive the relentless enemy waves by mastering the art of ammunition production! Optimize
          your bullet manufacturing process to keep your hero well-supplied and ready for battle.
        </p>
        <p class="hero-action-text">Secure Your Victory!</p>
        <a class="hero-gp-link" href="#"
          ><img class="gp-img" src="./img/mobile/gp-btn.png" alt="" />
          <img class="gp-desktop-img" src="./img/desktop/gp-desktop-btn.png" alt=""
        /></a>
    </div>
  </div>
</section>
