<section class="key-features-section" id="key-features">
  <div class="key-features-content-wrap container">
    <img class="kf-bulet-1-1" src="./img/general/bullet-1.png" alt="">
    <img class="kf-bulet-1-2" src="./img/general/bullet-1-2.png" alt="">
    <img class="kf-bulet-1-3" src="./img/general/bullet-1-3.png" alt="">
    <img class="kf-bulet-1-4" src="./img/general/bullet-1-4.png" alt="">
    <img class="kf-bulet-2-1" src="./img/general/bullet-2.png" alt="">
    <img class="kf-bulet-2-2" src="./img/general/bullet-2-2.png" alt="">
    <img class="kf-bulet-2-3" src="./img/general/bullet-2-3.png" alt="">
    <h2 class="key-features-title">Key Features</h2>

    <div class="kf-swiper swiper">
      <ul class="kf-swiper-wrapper swiper-wrapper">
        <li class="kf-swiper-slide swiper-slide">
          <div class="kf-list-title-wrap">
            <img class="kf-bullets" src="./img/general/kf-bullets.png" alt="" />
            <h3 class="key-features-subtitle">Factory Optimization</h3>
          </div>
          <p class="key-features-text">
            Design and expand your bullet production facility with various machines, conveyor belts,
            and storage units
          </p>
        </li>
        <li class="kf-swiper-slide swiper-slide">
          <div class="kf-list-title-wrap">
            <img class="kf-bullets" src="./img/general/kf-bullets.png" alt="" />
            <h3 class="key-features-subtitle">Weapon Customization</h3>
          </div>
          <p class="key-features-text">
            Upgrade and modify your hero's weapons, balancing attributes like fire rate, damage, and
            magazine size
          </p>
        </li>
        <li class="kf-swiper-slide swiper-slide">
          <div class="kf-list-title-wrap">
            <img class="kf-bullets" src="./img/general/kf-bullets.png" alt="" />
            <h3 class="key-features-subtitle">Automated Production</h3>
          </div>
          <p class="key-features-text">
            Set up intricate production lines that continue to generate ammunition even when you're
            offline
          </p>
        </li>
        <li class="kf-swiper-slide swiper-slide">
          <div class="kf-list-title-wrap">
            <img class="kf-bullets" src="./img/general/kf-bullets.png" alt="" />
            <h3 class="key-features-subtitle">Hero Progression</h3>
          </div>
          <p class="key-features-text">
            Level up your hero and unlock new abilities and equipment to enhance combat
            effectiveness
            <br><br>
          </p>
        </li>
        <li class="kf-swiper-slide swiper-slide">
          <div class="kf-list-title-wrap">
            <img class="kf-bullets" src="./img/general/kf-bullets.png" alt="" />
            <h3 class="key-features-subtitle">Research &amp; Development</h3>
          </div>
          <p class="key-features-text">
            Invest in research to unlock advanced machinery, more efficient production methods, and
            powerful bullet types
          </p>
        </li>
        <li class="kf-swiper-slide swiper-slide">
          <div class="kf-list-title-wrap">
            <img class="kf-bullets" src="./img/general/kf-bullets.png" alt="" />
            <h3 class="key-features-subtitle">Dynamic Enemy Waves</h3>
          </div>
          <p class="key-features-text">
            Confront diverse enemy types and escalating challenges that require strategic
            adjustments to your supply chain
          </p>
        </li>
        <li class="kf-swiper-slide swiper-slide">
          <div class="kf-list-title-wrap">
            <img class="kf-bullets" src="./img/general/kf-bullets.png" alt="" />
            <h3 class="key-features-subtitle">Leaderboards &amp; Achievements</h3>
          </div>
          <p class="key-features-text">
            Compete with players globally and earn achievements for mastering supply chain
            management and combat
          </p>
        </li>
      </ul>
      <div class="benefits-pagination"></div>
    </div>
  </div>
</section>
