<section class="main-characters-section" id="main-characters">
  <div class="main-characters-content-wrap container">
    <h2 class="main-characters-title">Main Characters Description</h2>
    <div class="main-characters-swiper swiper">
      <ul class="mc-swiper-wrapper swiper-wrapper">
        <li class="mc-swiper-slide swiper-slide">
          <img class="character-img" src="./img/general/characters-1.png" alt="The Engineer" />
          <h3 class="main-characters-subtitle">The Engineer (Player Character)</h3>
          <p class="main-characters-text">
            A brilliant logistical mind, responsible for designing, building, and optimizing the
            ammunition production facility. They are the strategic backbone of the operation.
            <br><br>
          </p>
        </li>

        <li class="mc-swiper-slide swiper-slide">
          <img class="character-img" src="./img/general/characters-2.png" alt="The Hero" />
          <h3 class="main-characters-subtitle">The Hero</h3>
          <p class="main-characters-text">
            A skilled and resilient combatant on the frontline, directly supported by the Engineer's
            supply efforts. Their effectiveness in battle depends entirely on a consistent flow of
            ammunition.
          </p>
        </li>

        <li class="mc-swiper-slide swiper-slide">
          <img class="character-img" src="./img/general/characters-3.png" alt="The Quartermaster" />
          <h3 class="main-characters-subtitle">The Quartermaster</h3>
          <p class="main-characters-text">
            An essential advisor who provides intelligence on enemy threats, resource needs, and
            potential upgrades for the supply chain.
            <br><br><br>
          </p>
        </li>

        <li class="mc-swiper-slide swiper-slide">
          <img class="character-img" src="./img/general/characters-4.png" alt="The Mechanist" />
          <h3 class="main-characters-subtitle">The Mechanist</h3>
          <p class="main-characters-text">
            A specialist in factory automation and upgrades, offering insights into new machinery
            and efficiency improvements for bullet production.
            <br><br><br>
          </p>
        </li>
      </ul>
      <div class="benefits-pagination"></div>
    </div>
  </div>
</section>
