.footer-section .footer-content-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  background: #dff3ff;
}

.footer-list {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  @include media(desktop) {
    width: 100%;
  }
}

.footer-link {
    text-decoration: underline;
    @include media(desktop) {
        font-size: 18px;
    }
}

.footer-rights {
    @include media(desktop) {
        font-size: 18px;
    }
}
