.gallery-content-wrap {
  padding-bottom: 80px;
  @include media(desktop) {
  }
}

.gallery-swiper {
  margin-top: 40px;
  position: relative;
  left: -15px;
  width: calc(100% + 30px);

  @include media(desktop) {
    left: -72px;
    width: calc(100% + 144px);
  }
}

.gallery-swiper-wrapper {
  @include media(desktop) {
    padding-bottom: 80px;
  }
}

.gallery-pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  @include media(desktop) {
    display: none;
  }
}

.gallery-pagination {
  .swiper-pagination-bullet {
    width: 32px;
    height: 32px;
    background: #008dcb;
    border-radius: 0;
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}

.gallery-scrollbar {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 9px;
    background: rgba(255, 185, 13, 0.3);
    border-radius: 16px;
  }

  .swiper-scrollbar-drag {
    background: #ffb90d;
    border-radius: 16px;
  }
}
