.header-section {
  position: fixed;
  z-index: 2000;
  left: 0;
  right: 0;
  @include media(desktop) {
  }
}

.header-section .header-content-wrap {
  height: 76px;
  backdrop-filter: blur(10px);
  background: #dff3ff;
  @include media(desktop) {
    height: 88px;
  }
}

.close-menu {
  display: none;
}

.header-list {
  display: none;
  @include media(desktop) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
  }
}

.header-link {
  font-size: 20px;
line-height: 1.5;
letter-spacing: -0.03em;
}

.header-wrap {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 4px;
  @include media(desktop) {
    gap: 12px;
  }
}

.main-logo {
  width: 20px;
  height: 20px;
  @include media(desktop) {
    width: 40px;
    height: 40px;
  }
}

.header-logo-text {
  font-weight: 600;
  font-size: 18px;
  @include media(desktop) {
    font-size: 24px;
  }
}

.burger-btn,
.close-menu {
  width: 24px;
  height: 24px;
  @include media(desktop) {
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 76px;
  left: 0;
  right: 0;
  z-index: 2001;
  backdrop-filter: blur(10px);
  background: #dff3ff;
  opacity: 0;
  visibility: hidden;
  padding: 16px;
}

.backdrop.show {
  opacity: 1;
  visibility: visible;
}

.backdrop-list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}

.backdrop-link {
  font-weight: 500;
  font-size: 18px;
}
