.key-features-content-wrap {
  padding-bottom: 80px;
  position: relative;
}

.kf-list-title-wrap {
  display: flex;
  align-items: center;
  gap: 4px;
}

.kf-bullets {
  width: 24px;
  height: 24px;
  @include media(desktop) {
    width: 30px;
    height: 30px;
  }
}

.kf-swiper {
  margin-top: 40px;
  width: 100%;
  position: relative;
  left: -14px;
  width: calc(100% + 28px);
}

.kf-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.kf-swiper .kf-swiper-slide {
  background: #cef0ff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border-radius: 16px;
  padding: 16px;
  width: 306px;
  height: 148px;
  box-sizing: border-box;
  @include media(desktop) {
    width: 306px;
    height: 220px;
    padding: 24px;
  }
}

.key-features-text {
  @include media(desktop) {
    font-size: 16px;
    margin-top: auto;
  }
}

.kf-bulet-1-1 {
  position: absolute;
  width: 65px;
  top: -50px;
  left: 10px;
  z-index: 1000;
}

.kf-bulet-1-2 {
  position: absolute;
  width: 15px;
  top: 55px;
  left: 73px;
  z-index: 1000;
}

.kf-bulet-1-3 {
  position: absolute;
  width: 40px;
  bottom: 120px;
  left: 5px;
  z-index: 1000;
}

.kf-bulet-1-4 {
  position: absolute;
  width: 35px;
  bottom: 90px;
  right: 2px;
  z-index: 1000;
}

.kf-bulet-2-1 {
  position: absolute;
  width: 35px;
  top: -50px;
  right: 140px;
  z-index: 1000;
}

.kf-bulet-2-2 {
  position: absolute;
  width: 18px;
  top: 150px;
  right: 50px;
  z-index: 1;
}

.kf-bulet-2-3 {
  position: absolute;
  width: 47px;
  bottom: 30px;
  right: 50px;
  z-index: 1;
}
